name: CI

# Controls when the workflow will run
on: [push, pull_request] 

jobs:
  # This job will build and test the JSpecify Conformance Tests on the Checker Framework
  build-and-test:
    strategy:
      matrix:
        jdk: [ 11, 17, 21 ]
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: jspecify-conformance
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - name: Check out CF JSpecify Conformance Tests
        uses: actions/checkout@v6
        with:
          path: jspecify-conformance
      - name: Set up JDK 21 for Gradle to run on
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: 21
      - name: Set up JDK ${{ matrix.java.version }}
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: ${{matrix.jdk}}
      - name: Inject JAVA_HOME_21_64 into `gradle.properties` to always use JDK 21 for Gradle
        run: mkdir ~/.gradle && echo "org.gradle.java.home=$JAVA_HOME_21_X64" >> ~/.gradle/gradle.properties
      - name: Set up Gradle
        uses: gradle/actions/setup-gradle@v5
      - name: Build and Test
        run: gradle build test
